@CHARSET "UTF-8";
.table-page a{
	
	font-size: 20px;
	font-style: normal;
	font-weight: bolder;
	
}
.table-page font{
	font-size: 20px;
	font-style: normal;
	font-weight: bolder;
}

.table-page{
	position: fixed;z-index: 19940201;bottom: 0;width: 100%;border-bottom: 1px solid #ddd;left: 35%;
}