@CHARSET "UTF-8";
body {  
    margin: 0;  
    padding: 0;  
    font-family:"Microsoft YaHei", "微软雅黑", "consolas";  
}  
a {  
    text-decoration: none;  
    color: #000;  
}  
  
.clearfix {   
  *zoom: 1;   
}  
.clearfix:before, .clearfix:after {   
  display: table;   
  line-height: 0;   
  content: "";  
}  
.clearfix:after {   
  clear: both;  
}   
  
.navbar {  
    background: url('../images/header_shadow.png') no-repeat left top;  
    background-size: 100% 54px;  
}  
.container {  
    width: 800px;  
    margin: 0 auto; 
    
}  
.show {
	background: url('../images/bg.jpg') repeat-y center; 
	
}


.navbar .navbar-content a {  
    color: #FFF;  
    line-height: 54px;  
    display: inline-block;  
    width: 100px;  
    text-align: center;  
}  
.navbar .navbar-content a:hover {  
    color: #CCC;  
}  
  
.index-bg {  
    width: 100%;  
    height: 100%;  
    background-repeat: repeat;
    position: absolute;  
    top: 0px;  
    z-index: -10;  
}  
  
.news-list {  
    margin: 30px 0;  
    /* background-color: #FFF;  */ 
    border-radius: 5px;  
    /* border: 1px solid #DDD;  */ 
    padding: 30px 20px;  
  
    min-height: 120px;  
}  
.news-list:hover {  
    box-shadow: 0 0 5px 3px #CCC;  
}  
  
.about .about-des {  
    border-left: 5px solid #CCC;  
    margin-top: 15px;  
}  
  
.about .about-des p {  
    padding-left: 10px;  
    line-height: 28px;  
    text-indent: 2em;  
}  
  
.news-list-left {  
    float: left;  
    width: 509px;  
    margin-bottom: 30px;  
}  
  
.news-list-right {  
    float: right;  
    width: 229px;  
}  
  
.news-list-item {  
    padding: 20px 30px;  
}  
  
.author-time {  
    font-size: 14px;  
}  
.news-des {  
    padding-bottom: 20px;  
    border-bottom: 2px solid #CCC;  
}  
.news-title {  
    font-size: 23px;  
}  
.news-title i {  
    display: inline-block;  
    width: 47px;  
    height: 43px;  
    margin-right: 10px;  
    background: url('../images/news-icon.png') left center no-repeat;  
    vertical-align: middle;  
}  
.news-title a {  
    color: green;  
}  
.news-title a:hover {  
    text-decoration: underline;  
}  
.news-content-des {  
    line-height: 28px;  
}  
  
.copyright {  
    clear: both;  
    text-align: center;  
    color: gray;  
  
    border-top: 2px solid #CCC;  
    margin-top: 50px;  
    padding: 20px 0;  
} 

.table-page a{
	
	font-size: 20px;
	font-style: normal;
	font-weight: bolder;
	
}
.table-page font{
	font-size: 20px;
	font-style: normal;
	font-weight: bolder;
}

.table-page{
	position: fixed;z-index: 19940201;bottom: 0;width: 100%;border-bottom: 1px solid #ddd;left: 35%;
} 